.match-card-title>.ant-select>.ant-select-selector {
  border-radius: 0 20px 20px 0 !important;
  box-shadow: 0 0px 5px 0 #AEAEAE, 0 0px 5px 0 #AEAEAE;
}
.matchup-index-root{
  height: 100vh;
  /* position: relative; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.match-card-title {
  display: flex;
  border: #707070;
  justify-content: center;
}

.text-choose {
  border: 1px solid #DBDBDB;
  box-shadow: 0 0px 5px 0 #e5e2e2, 0 0px 5px 0 #e5e2e2;
  min-width: 120px;
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  min-height: 40px;
  font-size: 15px;
}

.select-first-team {
  display: flex;
  justify-content: center;
  margin-top: 3vh;

}

.first-div {
  display: flex;
  flex-direction: row;
}

.lockdata-root-div {
  border-radius: 34px;
  border: 1px solid #e5e2e2;
  box-shadow: 0 0px 5px 0 #e5e2e2, 0 0px 5px 0 #e5e2e2;
}

.matchup-team-match {
  height: 100%;
  text-align: center;
  overflow-y: scroll;
}

.ant-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 768px) {
  .top-bar {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  .top-bar-menu {
    width: 100vw !important;
    justify-content: center;
  }

  .top-bar-title {
    width: 100vw !important;
  }

  .ant-row {
    flex-direction: column;
  }

  .ant-col-12 {
    max-width: 100%;
  }

  .select-first-team {
    justify-content: center;
  }

  div.first-div>div:first-child {
    width: 110px !important;
  }

  div.first-div>div:last-child {
    width: 110px !important;
  }
}