.leaderboard-index-root{
  height: 100vh;
  /* position: relative; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.leaderboard-container {
  padding: 20px;
}

.leaderboard-header {
  position: relative;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .leaderboard-container {
    padding: 0;
  }
}